/****************************/
/* IE6 FIXES                */
/****************************/


/* Pager - current */
.item-list ul.pager li.pager-current {
  padding: 2px 4px 2px 7px;
  margin-right: 4px;
}


/* admin panel
----------------------------------------------- */
#adminmenu a {
  padding: 9px 8px;
}
/* sidebar
----------------------------------------------- */
#sidebar {
  margin: 0 2px 20px 1px;
}
#sidebar ul { margin: 0; } 

/* footer - hide it since it doesn't display correctly in IE6
----------------------------------------------- */
div#footer { 
  position: fixed; 
  width: 97%;
}


/********/
/* TABS */
/********/

#content-tabs ul.primary li a,
#content-tabs ul.primary li a .tab,
#content-tabs ul.secondary li a,
#content-tabs ul.secondary li a .tab {
  display: inline; /* Otherwise the blocks mistakenly get 100% width in IE5 */
  display: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  width: 100%; /* Otherwise IE5 treats the ul as floated */
  width: auto; /* Reset to auto width for IE6 */
}

#content-tabs ul.primary li a {
  background: url(images/tabs/tab-left-ie6.png) no-repeat left -38px;
}

#content-tabs ul.primary li a .tab {
  background: url(images/tabs/tab-right-ie6.png) no-repeat right -38px;
}

#content-tabs ul.primary li a:hover {
	cursor:pointer; /* Minor fix for primary and secondary tabs in IE */
	color:#555;
	text-decoration:none;
  background: url(images/tabs/tab-left-ie6.png) no-repeat left -76px;
}

#content-tabs ul.secondary li a:hover{
	cursor:pointer; /* Minor fix for primary and secondary tabs in IE */
	color:#555;
	text-decoration:none;
}

#content-tabs ul.primary li a:hover .tab {
  background: url(images/tabs/tab-right-ie6.png) no-repeat right -76px;
}

#content-tabs ul.primary li.active a,
#content-tabs ul.primary li.active a:hover {
  background: url(images/tabs/tab-left-ie6.png) no-repeat left 0;
}

#content-tabs ul.primary li.active a .tab,
#content-tabs ul.primary li.active a:hover .tab {
  background: url(images/tabs/tab-right-ie6.png) no-repeat right 0;
}