/****************************/
/* IE7 FIXES                */
/****************************/


/* Pager - current */
.item-list ul.pager li.pager-current {
  padding: 2px 4px 2px 7px;
  margin-right: 4px;
}





/* admin menu
----------------------------------------------- */
#adminmenu a {
  padding: 9px 8px;
}
/* sidebar
----------------------------------------------- */
#sidebar ul { margin: 0; } 



/********/
/* TABS */
/********/

#content-tabs ul.primary li a:hover {
	cursor:pointer;
	color:#555;
	text-decoration:none;
}

#content-tabs ul.secondary li a:hover{
	cursor:pointer;
	color:#555;
	text-decoration:none;
}