/* Nerdalistic Drupal 6 Theme */

/* 

Designed and Coded by Jeremy Caldwell
Eternalistic Designs
www.eternalistic.net

*/

/* Font Size Percentages
----------------------------------------------- */ 
/*

Based on the YUI font sizing chart

9px	69%
10px	77%
11px	85%
12px	93%
13px	100%
14px	108%
15px	116%
16px	123.1%
17px	131%
18px	138.5%
19px	146.5%
20px	153.9%
21px	161.6%
22px	167%
23px	174%
24px	182%
25px	189%
26px	192%

*/


/**********/
/* LAYOUT */
/**********/

html {
  background: #fff url(images/bg_main.gif) repeat-y;
  color: #8E826B;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;     /* web safe fonts */
  margin: 0;
  padding: 0;
}

#page {
  margin: 0 0 0 10px;
}


/**************/
/* TYPOGRAPHY */
/**************/

h1 {
  color: #000;
  font-size: 192%; /* 26px */
}

h2 {
  font-size: 153.9%; /* 20px */
  margin: 0 0 .5em 0;
}

h3 {
  font-size: 138.5%; /* 18px */
  margin: 0 0 .5em 0;
}

.sidebar-inner h3 {
  font-size: 100%; /* 13px */
}

h4 {
  font-size: 123.1%; /* 16px */
  margin: 0 0 .5em 0;
}

h5 {
  font-size: 116%; /* 15px */
  margin: 0 0 .5em 0;
}

h6 {
  font-size: 108%; /* 14px */
  line-height: 100%;
  margin: 0 0 .5em 0;
}

p {
  font-size: 93%; /* 12px */
  font-weight: normal;
  line-height: 140%;
  margin: 0 0 10px 0;
}

/* for region labels on block admin page */
.block-region {
  color: #000;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


/*********/
/* LISTS */
/*********/

ul,
ul.menu {
  list-style-position: inside;
  list-style-type: disc;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

ul,
ol {
  font-size: 100%;
  margin: 10px 0 10px 10px;
}

ul ul,
ol ol {
  font-size: 100%;
  margin: 0 0 0 20px;
}

ul li {
  list-style: disc;
  margin: 0 0 .25em 15px;
}


/********/
/* MISC */
/********/

hr {
  border: 1px solid gray;
  height: 1px;
}

div.content a.feed-icon img,
div.content th img {
  border: 0;             /* remove image borders where we don't want them */
}

/* format initial startup page list nicely */
#first-time p {
  clear: both;
}

#first-time ol {
  list-style-position: outside;
  margin: 0 0 0 20px;
}


/********************/
/* ALL PAGE REGIONS */
/********************/

/*********/
/*  MAIN */
/*********/

#main{
  float: left;
  width: 100%;
}


/*******************/
/* SIDEBAR REGIONS */
/*******************/

#sidebar {
  float: left;
  margin-left: -100%;
  padding: 0 2px;
  width: 220px;
}

#sidebar .block-wrapper {
  padding: 0;
  margin: 0 0 15px 0;
  border-top: 1px solid #C9D7F1;
}

#sidebar .block-wrapper .content { 
  padding: 15px; 
}

#sidebar ul { 
  margin: 0 0 10px 0; 
}

#sidebar li { 
  list-style-type: circle; 
  padding: 3px 0 3px 0;
  margin: 0 0 0 20px;
}


/*******************/
/* CONTENT REGIONS */
/*******************/

#content-wrapper {
  float: right;
  margin-left: 230px;
  padding: 20px 10px 40px 10px;
}

#content-inner {
}

#content-top {
  margin: 0 0 10px 0;
}

#content {
  margin: 0 10px;
}

#content-bottom {
  margin: 10px 0 0 0;
}

.node-teaser {
  border-bottom: 1px dashed #67A7E3;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

.node-form .standard {
  clear: none;
}


/**************************/
/*   TWO COLUMN LAYOUT    */
/* (Sidebar:Main Content) */
/**************************/

body.layout-sidebar-main #sidebar {
  width: 220px;
}

body.layout-sidebar-main #content-wrapper {
  position: relative;
  z-index: 1;                    /* keep content visible on admin pages */
}


/**************/
/* BREADCRUMB */
/**************/

#breadcrumbwrapper {
  background: #ffc;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  padding: 4px 5px;
}

.youarehere {
  float: left;
  padding: 0 5px 0 0;
}

#breadcrumbs {
  display: inline;
}

.breadcrumb {
  display: inline;
  padding: 0 0 .5em .3em;
}


/*****************/
/* FOOTER REGION */
/*****************/

div#footer {   
  display: block;
  width: 100%;
  position: fixed;
  border-top: 1px solid #333;       
  background: #1f1f1f;
  left: 0;
  bottom: 0;
  text-align: left;
  font-size: 85%;
  color: #aaa; 
  z-index: 10000;
  padding: 5px 10px 5px 10px;
  opacity: 0.9;
  filter: alpha(opacity:90);
}

body>div#footer { 
  width: 100%; 
}

#footer #rightfooter {
  float: right; 
  margin: 0 20px 0 0;
}

#footer a {
  color: #fff;
  text-decoration: none;
  padding: 0;
}

#footer a:hover {
  color: #ccc;
  text-decoration: underline;
  padding: 0;
}


/*****************/
/* DEFAULT LINKS */
/*****************/

a {
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: #00c;
  text-decoration: none;
}  

a:hover {
  color: #000;
  text-decoration: underline;
} 

li a.active {
  color: #000;
  text-decoration: underline;
} 


/************/
/* HEADINGS */
/************/

h1.title {                                        /* page titles */
  color: #0072B9;
  font-weight: normal;
  font-size: 167%%; /* 33px */
  line-height: 90%;
  margin: 0 0 5px 0;
  padding: 0;
}  

h2.title {                                        /* block titles, node titles */
  font-size: 1.38em; /* 18px */
  font-weight: bold;
}  

h2.title a {
  color: #0072B9;
}

#sidebar .block-wrapper h2 {
  padding: 6px 10px 6px 10px;
  background: #93C2F1 url(images/sidebar_header.gif) top repeat-x;
  text-align: left;
  font-size: 108%; /* 14px */
  color: #000;
  margin: 0;
}


/***********/
/* TOP BAR */
/***********/

#topbar {
  padding: 5px 10px 0 10px;
  margin: 0;
  border-bottom: 1px solid #C9D7F1;
  background: #fff url(images/bg_topbar.gif) bottom repeat-x;
  height: 1.5em;
}

#topbar p {
  font-size: 100%;
}

#topbar .viewsite { 
  margin: 0 0 0 10px; 
}

#topbar .viewsite a { 
  font-size: 85%; 
}


/***************/
/* ADMIN PANEL */
/***************/

#adminpanel {
  float: right;
}

#adminpanel ul {
  margin: 0;
  padding: 0;
}

#adminpanel li {
  list-style: none;
  display: inline;
  padding: 0 8px 0 5px;
  margin: 0;
  border-right: 1px solid #4e4e4e;
  font-size: 93%;
}

#adminpanel li.last { 
  border-right: none; 
}


/************/
/* BRANDING */
/************/

#branding {
  background: #fff;
  padding: 10px;
}

#branding #logo { 
  margin: -2px 0 0 0; 
}

#branding #searchbar {
  float: right;
  padding: 25px 0 0 0;
}

#branding #searchbar #edit-search-theme-form-keys { 
  width: 20em; 
}


/*************************/
/* ADMIN MENU NAVIGATION */
/*************************/

#admin-navigation {
  height: 2.5em;
  background: #67A7E3 url(images/nav_rounded.gif) no-repeat;
}

#admin-navigation li {
  line-height: 2.5em;
}

#admin-navigation a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 93%;
  padding: 8px;
}

#admin-navigation a:hover { 
  background: #4C77B3; 
}


/*****************/
/* RSS FEED ICON */
/*****************/

a#rssfeed em  { 
  display: none; 
}

a#rssfeed {
  background: url(images/rss.gif) no-repeat;
  width: 14px;
  height: 14px;
  display: block;
}


/**********/
/* PAGERS */
/**********/

.item-list ul.pager {
  margin: 10px 0;
  font-size: .85em; /* 11px */
  text-transform: uppercase;
}

.item-list ul.pager li {
  color: #581365;
  line-height: 200%;
  margin: 0 5px 0 0;
  padding: 0;
}

.item-list ul.pager li a {
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}

.item-list ul.pager li a:hover,
.item-list ul.pager li a:focus {
  color: #000;
  text-decoration: underline;
}

.item-list ul.pager li.pager-current {
  background: #67A7E3;
  color: #fff;
  font-weight: normal;
  padding: 4px 10px 4px 10px;
}

#content-wrapper .item-list ul.pager li a {
  background: #fff;
  color: #000;
  border: 1px solid #67A7E3;
}


/********/
/* TABS */
/********/

/* styling for node tabs (e.g., View, Edit) */
#content-tabs {
  margin: 0 0 1em 0;
}

#content-tabs ul.primary {
  background: url(images/tabs/tab-bar.png) repeat-x left bottom;
  border-width: 0;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
  white-space: nowrap;
}

#content-tabs ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}

#content-tabs ul.primary li a {
  background-color: transparent;
  background: url(images/tabs/tab-left.png) no-repeat left -38px;
  border-width: 0;
  color: #777;
  display: block;
  font-weight: bold;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  text-decoration: none;
}

#content-tabs ul.primary li a .tab {
  background: url(images/tabs/tab-right.png) no-repeat right -38px;
  border-width: 0;
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  line-height: 20px;
  margin: 0;
  padding: 4px 13px 0 6px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus  {
  background-color: transparent;
  background: url(images/tabs/tab-left.png) no-repeat left -76px;
  border-width: 0;
  color: #4e4e4e;
}

#content-tabs ul.primary li a:hover .tab {
  background: url(images/tabs/tab-right.png) no-repeat right -76px;
}

#content-tabs ul.primary li.active a,
#content-tabs ul.primary li.active a:hover,
#content-tabs ul.primary li.active a:focus  {
  background-color: transparent;
  background: url(images/tabs/tab-left.png) no-repeat left 0;
  border-width: 0;
  color: #000;
}

#content-tabs ul.primary li.active a .tab,
#content-tabs ul.primary li.active a:hover .tab {
  background: url(images/tabs/tab-right.png) no-repeat right 0;
}

#content-tabs ul.secondary {
  background: url(images/tabs/tab-secondary-bg.png) repeat-x left bottom;
  border-bottom: 1px solid #c0c0c0;
  font-size:0.8em;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#content-tabs ul.secondary li {
  border-right: none;
  float: left;
  margin: 0 5px 0 0;
  padding: 3px 0;
}

#content-tabs ul.secondary a {
  background: url(images/tabs/tab-secondary.png) repeat-x left -56px;
  border: 1px solid #c0c0c0;
  color: #777;
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#content-tabs ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  line-height: 18px;
  margin: 0;
  padding: 3px 8px;
}

#content-tabs ul.secondary a:hover,
#content-tabs ul.secondary a:focus {
  background: url(images/tabs/tab-secondary.png) repeat-x left bottom;
}

#content-tabs ul.secondary a.active,
#content-tabs ul.secondary a.active:hover,
#content-tabs ul.secondary a.active:focus {
  background: url(images/tabs/tab-secondary.png) repeat-x left top;
  border: 1px solid #c0c0c0;
  color: #000;
}


/*********/
/* FORMS */
/*********/

form {
  margin: 0;
  padding: 0;
}

.form-text {                                      /* default styling for all text fields */
}

.form-submit {          /* default styling for all form buttons */
}

.form-submit:hover,
.form-submit:focus,
.form-submit.hover {
}

.form-item input,
.form-item select,
.form-item textarea,
.form-item .resizable-textarea .grippie {
  max-width: 95%;
}

fieldset {
  border: 1px solid #67A7E3;
  margin: 15px 0;
  padding: 10px;
}

fieldset.collapsed {
}

legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
  color: #00c;
  display: block;
  margin: 0;
  font-size: 1em;  /* 13px */
  font-weight: bold;
  padding-right: 5px;
  text-decoration: none;
}

.form-item label,
.tableHeader th,
.tableHeader-processed th {
  color: #555;
  font-weight: bold;
}


/*******************/
/* DRUPAL MESSAGES */
/*******************/

.node-unpublished {
  background-color: #FFF4F4;
}

.preview .node {
  background-color: #FFFFEA;
}

.description {
}

div.messages {
  background: #ffc;
  border: 2px solid #000;
  color: #000;
  font-size: 108%; /* 14px */
  margin: 20px 0pt;
  padding: 10px;
}

div.messages ul {
  list-style-position: inside;
}

div.error {
  background: #fcc;
  border: 2px solid #B20000;
  color: #B20000;
}

.messages em {
  font-weight: bold;
}

.status {
}

.help {
}

.help .more-help-link {
}

.marker {
}

.tips {
}

.warning {
  margin: 10px 0;
}

.form-required {
  color: #BF0042;
}


/***********************/
/* BLOCK EDIT LINKS */ 
/***********************/

.block-wrapper {
  position: relative;
}

.block-wrapper .edit {
  display: none;
}

.block-wrapper:hover .edit {
  background: #fff;
  display: block;
  font-size: 85%; /* 11px */
  font-weight: bold;
  padding: 3px;
  position: absolute;
  right: 0;
  top: 0;
}