/* admin panel
----------------------------------------------- */
#adminmenu a {
  padding: 9px 8px;
}
/* sidebar
----------------------------------------------- */
#sidebar {
  margin: 0 2px 20px 1px;
}
#sidebar ul { margin: 0; } 

/* footer - hide it since it doesn't display correctly in IE6
----------------------------------------------- */
div#footer { 
  position: fixed; 
  width: 97%;
}