/* Font Size Percentages
----------------------------------------------- */ 
/*

Based on the YUI font sizing chart

9px	69%
10px	77%
11px	85%
12px	93%
13px	100%
14px	108%
15px	116%
16px	123.1%
17px	131%
18px	138.5%
19px	146.5%
20px	153.9%
21px	161.6%
22px	167%
23px	174%
24px	182%
25px	189%
26px	192%

*/

/* body
----------------------------------------------- */
body {
  background: #fff url(images/bg_main.gif) repeat-y;
}

/* universal font styling
----------------------------------------------- */
p {
  margin: 0 0 1em 0;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: georgia, "times new roman", times, serif;
}
h1{
  font-size: 146.5%;
  font-weight: 700;
  margin: 1em 0 .5em 0;
}
h2 {
  font-weight: 700;
  font-size: 131%;
}
h3 {
  font-weight: 700;
  font-size: 123.1%;
}
h4 {
  font-weight: 700;
  font-size: 116%;
}
h5 {
  font-weight: 700;
  font-size: 108%;
}
h6 {
  font-weight: 700;
  font-size: 100%;
}
strong { 
  font-weight: 700; 
}
strong em {
  font-weight: 700;
  font-style: italic;
}
em { 
  font-style:italic;
}
em strong {
  font-weight: 700;
  font-style: italic;
}
ul {
  margin: 0 0 0 25px;
}
ul li {
  list-style: disc;
  margin: 0 0 .5em 0;
}

/* universal link styling
----------------------------------------------- */
a, a:link, a:visited {
  color: #00c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #000;
}

/* table styles
----------------------------------------------- */
tbody {
  border-top: none;
}
table {
  margin: 10px 0 10px 0;
}
table .odd {
  background:#fff;
}
table td {
  padding: 3px 0 3px 0;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  border-collapse: separate;
}
table th {
  padding: 3px 10px 3px 0;
  vertical-align: top;
  border-bottom: 1px solid #cc;
}

/* layout
----------------------------------------------- */
#wrapper { 
  padding: 0 0 0 10px; 
}

/* topbar
----------------------------------------------- */
#topbar {
  padding: 5px 10px 0 10px;
  margin: 0;
  border-bottom: 1px solid #C9D7F1;
  background: #fff url(images/bg_topbar.gif) bottom repeat-x;
  height: 1.5em;
}
#topbar p {
  font-size: 100%;
}
#topbar .viewsite { 
  margin: 0 0 0 10px; 
}
#topbar .viewsite a { 
  font-size: 85%; 
}

/* admin panel
----------------------------------------------- */
#adminpanel {
  float: right;
}
#adminpanel ul {
  margin: 0;
  padding: 0;
}
#adminpanel li {
  list-style: none;
  display: inline;
  padding: 0 8px 0 5px;
  margin: 0;
  border-right: 1px solid #4e4e4e;
  font-size: 93%;
}
#adminpanel li.last { 
  border-right: none; 
}

/* branding
-----------------------------------------------*/
#branding {
  background: #fff;
  padding: 10px;
}
#branding #logo { margin: -2px 0 0 0; }
#branding #searchbar {
  float: right;
  padding: 25px 0 0 0;
}
#branding #searchbar #edit-search-theme-form-keys { 
  width: 20em; 
}

/* admin menu navigation
----------------------------------------------- */
#adminmenu {
  height: 2.5em;
  background: #67A7E3 url(images/nav_rounded.gif) no-repeat;
}
#adminmenu li {
  line-height: 2.5em;
}
#adminmenu a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 93%;
  padding: 8px;
}
#adminmenu a:hover { 
  background: #4C77B3; 
}

/* main content 
----------------------------------------------- */
#content {
  padding: 0 10px 50px 0px;
  margin: 0 0 20px 0;
}
#content #main {
  margin: 0 0 0 235px;
  padding: 10px 0; 
}
#main {
  font-size: 93%;
  margin: 0 0 1em 0;
  line-height: 1.5em;
}
#main .list  { 
  list-style-image: url(images/bullet.gif); 
}
#main .list li{
  padding: 0 0 5px 0; 
  margin: 0;
  font-size: 93%;
}
#main .body { 
  font-size: 100%; 
}
#main dd {
  margin: 0 0 10px 0;
  padding: 3px 0 0 20px;
}
#main #breadcrumbwrapper {
  background: #ffc;
  border: 1px solid #ccc;
  padding: 4px 5px;
}
#main .youarehere {
  float: left;
  padding: 0 5px 0 0;
}
#main #breadcrumbs {
  display: inline;
}
#breadcrumbs .breadcrumb {
  display: inline;
  padding: 0 0 .5em .3em;
}

/* sidebar 
----------------------------------------------- */
#sidebar {
  float: left;
  width: 220px;
  margin: 0 2px 20px 2px;
  padding: 0;
  border-top: 1px solid #fff;
}
#sidebar .divider {
  padding: 0;
  margin: 0 0 15px 0;
  border-top: 1px solid #C9D7F1;
}
#sidebar ul { margin: 0 0 0 0; }
#sidebar .divider h2 {
  padding: 5px 5px 7px 5px;
  background: #93C2F1 url(images/sidebar_header.gif) top repeat-x;
  text-align: left;
  font-size: 93%;
  color: #000;
  margin: 0;
}
#sidebar li { 
  list-style-type: circle; 
  padding: 3px 0 3px 0;
  margin: 0 0 0 20px;
}
#sidebar .divider .dividertext { 
  padding: 5px 10px; 
}

/* footer
-----------------------------------------------*/
div#footer {   
  display: block;
  width: 100%;
  position: fixed;
  border-top: 1px solid #333;       
  background: #1f1f1f;
  left: 0;
  bottom: 0;
  text-align: left;
  font-size: 85%;
  color: #aaa; 
  z-index: 10000;
  padding: 5px 10px 5px 10px;
  opacity: 0.9;
  filter: alpha(opacity:90);
}
body>div#footer { 
  width: 100%; 
}
#footer #rightfooter {
  float: right; 
  margin: 0 20px 0 0;
}
#footer a, 
#footer a:link,
#footer a:visited {
  color: #fff;
  text-decoration: none;
  padding: 0;
}
#footer a:hover {
  color: #ccc;
  text-decoration: underline;
  padding: 0;
}

/* rss feed icon
----------------------------------------------- */
a#rssfeed em  { 
  display: none; 
}
a#rssfeed {
  background: url(images/rss.gif) no-repeat;
  width: 14px;
  height: 14px;
  display: block;
}