/* 

2008 Eternalistic Designs
Designed and Coded by Jeremy Caldwell
www.eternalistic.net

*/

/* remove outline from links when clicked in FireFox
----------------------------------------------- */
:-moz-any-link:focus { outline: none; }

/* drupal default CSS overrides
----------------------------------------------- */
#main .node-form .standard { clear: none; }
#content .tabs { margin: 0 0 10px 0; }
#main textarea {
  font-size: 100%;
  font-family: verdana;
  padding: 1px;
}
#main .profile { clear: none; }
#main .theme-settings-bottom {
  clear: none;
}
table { width: 100%; }
tbody { font-size: 100%; }
td { padding: 5px; }
thead th { font-weight: 700; }
#main .odd { background: #E0E9EF; }
#main .even { background: #fff; }
#main .node-unpublished { 
  background: #fafafa;
  border: 1px solid #00a6e6; 
  padding: 10px;
}

/* error and notification messages
----------------------------------------------- */
.messages {
  font-size: 116%;
  margin: .5em 0;
  padding: 10px;
  line-height: 1.5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #ffc;
}

/* forms
----------------------------------------------- */
#content fieldset {
  border: 1px solid #00a6e6;
  background: #fafafa;
  padding: 5px;
}
#content legend {
  font-size: 108%;
  padding: 5px;
  margin: 0;
  font-weight: 700;
  font-family: georgia, "times new roman", times, serif;
}
#content .form-item {
  display: block;
  margin-bottom: 5px;
  margin-top: 1px;
  padding: 5px 10px;
}
.section-search #content .form-item {
  display: inline;
  background: none;
  padding: 0;
  border: none;
}
#content label {
  display: block;
  color: #000;
  font-weight: 700;
  vertical-align: middle;
  margin: 0 0 3px 3px;
}
#content legend a {
  color: #2D404C;
  font-weight: 700;
}
#content .checkbox label {
  display: inline;
  font-weight: 700;
}
#content input {
  vertical-align: middle;
  padding: 2px;
}
#content textarea {
  vertical-align: middle;
  padding: 2px;
}
#content textarea#edit-log { height: 50px; }
#content fieldset {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px 0;
  *padding-bottom: 25px; /* IE7 and IE6 fix */
}

/* content styling overrides
----------------------------------------------- */
.view .node {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0;
  margin: 0 0 20px 0;
}
.pager {margin: 20px 0 0 0; }
.region {
  font-weight: 700;
  background: #ccc;
}
.view { border-top: 1px solid #ccc; }
hr {
  background: #ccc;
  height: 3px;
  border: 1px solid #fff;
}
#attachments { 
  width: 450px; 
  margin: 0 0 10px 0; 
}
#main #floatright {
  float: right;
  margin: 0 0 10px 10px;
  padding: 0;
}
#main .node-form .standard { clear: none;}

/* search footer links
----------------------------------------------- */
.pager {
  padding: 10px 0 3px 0;
  margin: 15px 0 10px 0;
}
.pager div {
  padding: 0;
  display: inline;
}
.pager strong, .pager a {
  padding: 2px 5px 5px 5px;
  margin: 0 0.1em 0 0.1em;
  background: #edebdf;
  border: 1px solid #ccc;
  font-weight: 700;
}
.pager a:hover {
  text-decoration: none;
  background: #fff;
  border: 1px solid #4e4e4e;
}
.pager strong {
  background: #67A7E3;
  color: #fff;
}
.pager a { border-bottom: none; }

/* user list
----------------------------------------------- */
#profile .profile {
  height: 220px;
  font-size: 93%;
  border-bottom: 1px solid #ccc;
  line-height: 1.4em;
}
#profile .profile .picture {
  float: right;
  margin: 0 0 30px 0;
}